$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
$yellow: #FFD433;
$light-yellow: #ffd43305;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.choice {
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 9px;
    list-style: none;
    font-size: 20px;    
    padding: 7px;

    @include desktop {
        width: 49%;
        display: inline-block;
        height: 100%;
        margin: 3px 5px;
    }
}

.choice.active {
    border: 2px solid $yellow;
    background-color: $light-yellow;
}

.quiz {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2em 1em;
    height: 44em;

    h3.question {
        padding-bottom: 20px;
    }

    ul > li {
        padding-bottom: 5px;
    }

    .check {
        width: 100%;
        border-radius: 20px;
        font-size: 20px;
        margin-top: 10em;
        @extend .btn;
        @extend .btn-success;
        @include desktop {
            margin-top: 1em;
        }
    }

    @include desktop {
        height: 27em;
    }
}

body {
    background-color: #fff;
}
